body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  background: url(images/dancefloor.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.addDancerButton, .addDancerButton2, .lineUpButton {
  padding:5px 100px;
  float:right;
  font-family: Arial, Helvetica, sans-serif;
}
.topbar{
  height:32px;
  background-color: #555;

}
.title{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #777;
  padding:5px 100px;
  float:left;

}
.dancer {
  display: block;
  float: left;
}
.linedUp {
  min-width: 100px;
}
.dancer